# NYC Restaurants Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('food_order.csv')
data.head()

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24

In [3]:
data.dtypes

order_id                   int64
customer_id                int64
restaurant_name           object
cuisine_type              object
cost_of_the_order        float64
day_of_the_week           object
rating                    object
food_preparation_time      int64
delivery_time              int64
dtype: object

In [4]:
data.shape

(1898, 9)

In [5]:
data.isnull().sum()

order_id                 0
customer_id              0
restaurant_name          0
cuisine_type             0
cost_of_the_order        0
day_of_the_week          0
rating                   0
food_preparation_time    0
delivery_time            0
dtype: int64

In [6]:
data.describe()

,order_id,customer_id,cost_of_the_order,food_preparation_time,delivery_time
count,1.898000e+03,1898.000000,1898.000000,1898.000000,1898.000000
mean,1.477496e+06,171168.478398,16.498851,27.371970,24.161749
std,5.480497e+02,113698.139743,7.483812,4.632481,4.972637
min,1.476547e+06,1311.000000,4.470000,20.000000,15.000000
25%,1.477021e+06,77787.750000,12.080000,23.000000,20.000000
50%,1.477496e+06,128600.000000,14.140000,27.000000,25.000000
75%,1.477970e+06,270525.000000,22.297500,31.000000,28.000000
max,1.478444e+06,405334.000000,35.410000,35.000000,33.000000

In [7]:
data['restaurant_name'].value_counts()

Shake Shack                  219
The Meatball Shop            132
Blue Ribbon Sushi            119
Blue Ribbon Fried Chicken     96
Parm                          68
                            ...
Sushi Choshi                   1
Dos Caminos Soho               1
La Follia                      1
Philippe Chow                  1
'wichcraft                     1
Name: restaurant_name, Length: 178, dtype: int64

In [8]:
data['cuisine_type'].value_counts()

American          584
Japanese          470
Italian           298
Chinese           215
Mexican            77
Indian             73
Middle Eastern     49
Mediterranean      46
Thai               19
French             18
Southern           17
Korean             13
Spanish            12
Vietnamese          7
Name: cuisine_type, dtype: int64

In [9]:
data['day_of_the_week'].value_counts()

Weekend    1351
Weekday     547
Name: day_of_the_week, dtype: int64

In [12]:
data_rating = data[data["rating"] != 'Not given']
data_rating

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24
5,1477224,147468,Tamarind TriBeCa,Indian,25.22,Weekday,3,20,24
7,1477859,89574,Barbounia,Mediterranean,5.97,Weekday,3,33,30
...,...,...,...,...,...,...,...,...,...
1889,1478190,94152,RedFarm Broadway,Chinese,8.68,Weekday,3,33,30
1890,1477316,164776,TAO,Japanese,15.67,Weekend,5,20,22
1893,1476701,292602,Chipotle Mexican Grill $1.99 Delivery,Mexican,22.31,Weekend,5,31,17
1894,1477421,397537,The Smile,American,12.18,Weekend,5,31,19
1896,1477513,64151,Jack's Wife Freda,Mediterranean,12.18,Weekday,5,23,31

In [26]:
data_rating.groupby('restaurant_name')['rating'].mean()

restaurant_name
'wichcraft          5.000000e+00
12 Chairs           2.250000e+01
5 Napkin Burger     1.750000e+01
67 Burger           5.000000e+00
Amma                2.250000e+01
                        ...
Zero Otto Nove      4.000000e+00
brgr                3.000000e+00
da Umberto          5.000000e+00
ilili Restaurant    3.495035e+11
indikitch           2.700000e+01
Name: rating, Length: 156, dtype: float64

In [32]:
data_not_given_rating = data[data["rating"] == 'Not given']
data_not_given_rating

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
6,1477894,157711,The Meatball Shop,Italian,6.07,Weekend,Not given,28,21
10,1477895,143926,Big Wong Restaurant _¤¾Ñ¼,Chinese,5.92,Weekday,Not given,34,28
14,1478198,62667,Lucky's Famous Burgers,American,12.13,Weekday,Not given,23,30
...,...,...,...,...,...,...,...,...,...
1887,1476873,237616,Shake Shack,American,5.82,Weekend,Not given,26,30
1891,1476981,138586,Shake Shack,American,5.82,Weekend,Not given,22,28
1892,1477473,97838,Han Dynasty,Chinese,29.15,Weekend,Not given,29,21
1895,1477819,35309,Blue Ribbon Sushi,Japanese,25.22,Weekday,Not given,31,24
1897,1478056,120353,Blue Ribbon Sushi,Japanese,19.45,Weekend,Not given,28,24

In [33]:
data.groupby('restaurant_name')['cost_of_the_order'].mean().sort_values(ascending = True)

restaurant_name
Hunan Manor                    5.720
Cipriani Le Specialita         5.920
Big Wong Restaurant _¤¾Ñ¼     5.920
Wa Jeal                        6.740
Market Table                   6.790
                               ...
Il Bambino                    29.250
Haru Gramercy Park            29.830
Bhatti Indian Grill           31.115
Emporio                       31.430
Kambi Ramen House             32.930
Name: cost_of_the_order, Length: 178, dtype: float64

In [34]:
data.groupby('restaurant_name')['food_preparation_time'].mean().sort_values(ascending = True)

restaurant_name
Haru Gramercy Park        20.0
67 Burger                 20.0
Frank Restaurant          20.0
DespaÌ±a                  20.5
Sarabeth's West           21.0
                          ...
Taro Sushi                35.0
Cipriani Le Specialita    35.0
Kambi Ramen House         35.0
Klong                     35.0
Sushi Choshi              35.0
Name: food_preparation_time, Length: 178, dtype: float64

In [35]:
data.groupby('restaurant_name')['delivery_time'].mean().sort_values(ascending = True)

restaurant_name
Gaia Italian Cafe     15.0
Paul & Jimmy's        15.0
The MasalaWala        15.0
Hibino                15.0
Coppola's East        16.0
                      ...
Haandi                30.5
Frank Restaurant      31.0
Taro Sushi            32.0
Haru Gramercy Park    32.0
Sarabeth's West       33.0
Name: delivery_time, Length: 178, dtype: float64

In [46]:
data.groupby('restaurant_name')['order_id'].count().sort_values(ascending = False)

restaurant_name
Shake Shack                  219
The Meatball Shop            132
Blue Ribbon Sushi            119
Blue Ribbon Fried Chicken     96
Parm                          68
                            ...
Klong                          1
Kambi Ramen House              1
Il Bambino                     1
Hunan Manor                    1
Lamarca Pasta                  1
Name: order_id, Length: 178, dtype: int64

In [48]:
data.customer_id.nunique()

1200