# NYC Restaurants Dataset

In [207]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [208]:
data = pd.read_csv('food_order.csv')
data.head()

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24

In [209]:
data.dtypes

order_id                   int64
customer_id                int64
restaurant_name           object
cuisine_type              object
cost_of_the_order        float64
day_of_the_week           object
rating                    object
food_preparation_time      int64
delivery_time              int64
dtype: object

In [210]:
data.shape

(1898, 9)

In [211]:
data.isnull().sum()

order_id                 0
customer_id              0
restaurant_name          0
cuisine_type             0
cost_of_the_order        0
day_of_the_week          0
rating                   0
food_preparation_time    0
delivery_time            0
dtype: int64

In [212]:
data.describe()

,order_id,customer_id,cost_of_the_order,food_preparation_time,delivery_time
count,1.898000e+03,1898.000000,1898.000000,1898.000000,1898.000000
mean,1.477496e+06,171168.478398,16.498851,27.371970,24.161749
std,5.480497e+02,113698.139743,7.483812,4.632481,4.972637
min,1.476547e+06,1311.000000,4.470000,20.000000,15.000000
25%,1.477021e+06,77787.750000,12.080000,23.000000,20.000000
50%,1.477496e+06,128600.000000,14.140000,27.000000,25.000000
75%,1.477970e+06,270525.000000,22.297500,31.000000,28.000000
max,1.478444e+06,405334.000000,35.410000,35.000000,33.000000

In [213]:
data.restaurant_name.unique()

array(['Hangawi', 'Blue Ribbon Sushi Izakaya', 'Cafe Habana',
       'Blue Ribbon Fried Chicken', 'Dirty Bird to Go',
       'Tamarind TriBeCa', 'The Meatball Shop', 'Barbounia',
       'Anjappar Chettinad', 'Bukhara Grill',
       'Big Wong Restaurant \x8c_¤¾Ñ¼', 'Empanada Mama (closed)', 'Pylos',
       "Lucky's Famous Burgers", 'Shake Shack', 'Sushi of Gari',
       'RedFarm Hudson', 'Blue Ribbon Sushi',
       'Five Guys Burgers and Fries', 'Tortaria', 'Cafe Mogador',
       'Otto Enoteca Pizzeria', 'Vezzo Thin Crust Pizza',
       'Sushi of Gari 46', 'The Kati Roll Company', 'Klong',
       '5 Napkin Burger', 'TAO', 'Parm', 'Sushi Samba',
       'Haru Gramercy Park', 'Chipotle Mexican Grill $1.99 Delivery',
       'RedFarm Broadway', 'Cafeteria', 'DuMont Burger',
       "Sarabeth's East", 'Hill Country Fried Chicken', 'Bistango',
       "Jack's Wife Freda", "Mamoun's Falafel", 'Prosperity Dumpling',
       'Blue Ribbon Sushi Bar & Grill', 'Westville Hudson',
       'Blue Ribbon Brooklyn', 'Nobu Next Door', 'Osteria Morini',
       'Haandi', 'Benihana', 'Han Dynasty', 'Chote Nawab',
       'Mission Cantina', "Xi'an Famous Foods", 'Rubirosa',
       "Joe's Shanghai \x8e_À\x8eü£¾÷´", 'Bareburger', 'The Odeon',
       'Pongsri Thai', 'Yama Japanese Restaurant', 'Momoya',
       'Balthazar Boulangerie', 'CafÌ© China', 'Boqueria',
       'Song Thai Restaurant & Bar', 'Five Leaves',
       'Pinto Nouveau Thai Bistro', "Amy Ruth's", 'Pepe Giallo',
       'indikitch', 'Yama 49', 'Piccolo Angolo', 'Pepe Rosso To Go',
       "L'Express", 'Amma', 'Delicatessen', "S'MAC",
       "Vanessa's Dumplings", 'Bhatti Indian Grill', 'Taro Sushi',
       'Donburi-ya', 'Hatsuhana', 'Samurai Mama', 'Waverly Diner',
       'Tarallucci e Vino Restaurant', "P.J. Clarke's",
       'Lantern Thai Kitchen', 'ilili Restaurant', 'The Smile',
       "Vanessa's Dumpling House", "Bubby's ", 'Woorijip',
       'Dirty Bird To Go (archived)', 'Haveli Indian Restaurant',
       'Dos Caminos', 'da Umberto', 'Sushi of Gari Tribeca',
       'Burger Joint', 'Room Service', "Sarabeth's Restaurant",
       'Xe May Sandwich Shop', 'Hibino', 'Mira Sushi', 'Melt Shop',
       'J. G. Melon', 'Hummus Place', 'Saravanaa Bhavan',
       'Friend of a Farmer', 'The Loop', 'Balade', 'Posto',
       'Terakawa Ramen', 'Kambi Ramen House', 'Wo Hop Restaurant',
       'Spice Thai', "Dickson's Farmstand Meats",
       'UVA Wine Bar & Restaurant', 'Serafina Fabulous Pizza',
       'Gaia Italian Cafe', 'Chola Eclectic Indian Cuisine',
       'Hot Kitchen', 'Junoon', 'Ravagh Persian Grill', 'Rohm Thai',
       'Dig Inn Seasonal Market', 'Olea', 'Cho Dang Gol',
       'El Parador Cafe', 'Socarrat Paella Bar',
       "Don's Bogam BBQ & Wine Bar", 'Alidoro', "Tony's Di Napoli",
       'Cipriani Le Specialita', 'Sushi Choshi', 'Kanoyama', 'V-Nam Cafe',
       'Zero Otto Nove', 'Dos Caminos Soho', 'Go! Go! Curry!',
       'La Follia', 'Izakaya Ten', '12 Chairs', 'Philippe Chow',
       'The MasalaWala', 'brgr', "Carmine's", 'Asuka Sushi', 'Aurora',
       "Sarabeth's", 'Crema Restaurante', "Big Daddy's",
       'Moonstruck on Second', 'Cafe de La Esquina', 'Olive Garden',
       '67 Burger', 'Tres Carnes', "Schnipper's Quality Kitchen",
       'Nha Trang One', 'Market Table', 'Galli Restaurant',
       'Hampton Chutney Co.', 'Byblos Restaurant',
       'Grand Sichuan International', 'Le Grainne Cafe', 'Il Bambino',
       'Kori Restaurant and Bar', 'DespaÌ±a', 'Lamarca Pasta',
       'Lucky Strike', "Paul & Jimmy's", 'Hunan Manor', "Coppola's East",
       'Emporio', 'Wa Jeal', 'Le Zie 2000 Trattoria', 'Rye House',
       "Hiroko's Place", 'Frank Restaurant', "Sarabeth's West",
       "'wichcraft"], dtype=object)

In [214]:
data.restaurant_name.str.strip("\x8c_¤¾Ñ¼ \x8e_À\x8eü£¾÷´").unique()

array(['Hangawi', 'Blue Ribbon Sushi Izakaya', 'Cafe Habana',
       'Blue Ribbon Fried Chicken', 'Dirty Bird to Go',
       'Tamarind TriBeCa', 'The Meatball Shop', 'Barbounia',
       'Anjappar Chettinad', 'Bukhara Grill', 'Big Wong Restaurant',
       'Empanada Mama (closed)', 'Pylos', "Lucky's Famous Burgers",
       'Shake Shack', 'Sushi of Gari', 'RedFarm Hudson',
       'Blue Ribbon Sushi', 'Five Guys Burgers and Fries', 'Tortaria',
       'Cafe Mogador', 'Otto Enoteca Pizzeria', 'Vezzo Thin Crust Pizza',
       'Sushi of Gari 46', 'The Kati Roll Company', 'Klong',
       '5 Napkin Burger', 'TAO', 'Parm', 'Sushi Samba',
       'Haru Gramercy Park', 'Chipotle Mexican Grill $1.99 Delivery',
       'RedFarm Broadway', 'Cafeteria', 'DuMont Burger',
       "Sarabeth's East", 'Hill Country Fried Chicken', 'Bistango',
       "Jack's Wife Freda", "Mamoun's Falafel", 'Prosperity Dumpling',
       'Blue Ribbon Sushi Bar & Grill', 'Westville Hudson',
       'Blue Ribbon Brooklyn', 'Nobu Next Door', 'Osteria Morini',
       'Haandi', 'Benihana', 'Han Dynasty', 'Chote Nawab',
       'Mission Cantina', "Xi'an Famous Foods", 'Rubirosa',
       "Joe's Shanghai", 'Bareburger', 'The Odeon', 'Pongsri Thai',
       'Yama Japanese Restaurant', 'Momoya', 'Balthazar Boulangerie',
       'CafÌ© China', 'Boqueria', 'Song Thai Restaurant & Bar',
       'Five Leaves', 'Pinto Nouveau Thai Bistro', "Amy Ruth's",
       'Pepe Giallo', 'indikitch', 'Yama 49', 'Piccolo Angolo',
       'Pepe Rosso To Go', "L'Express", 'Amma', 'Delicatessen', "S'MAC",
       "Vanessa's Dumplings", 'Bhatti Indian Grill', 'Taro Sushi',
       'Donburi-ya', 'Hatsuhana', 'Samurai Mama', 'Waverly Diner',
       'Tarallucci e Vino Restaurant', "P.J. Clarke's",
       'Lantern Thai Kitchen', 'ilili Restaurant', 'The Smile',
       "Vanessa's Dumpling House", "Bubby's", 'Woorijip',
       'Dirty Bird To Go (archived)', 'Haveli Indian Restaurant',
       'Dos Caminos', 'da Umberto', 'Sushi of Gari Tribeca',
       'Burger Joint', 'Room Service', "Sarabeth's Restaurant",
       'Xe May Sandwich Shop', 'Hibino', 'Mira Sushi', 'Melt Shop',
       'J. G. Melon', 'Hummus Place', 'Saravanaa Bhavan',
       'Friend of a Farmer', 'The Loop', 'Balade', 'Posto',
       'Terakawa Ramen', 'Kambi Ramen House', 'Wo Hop Restaurant',
       'Spice Thai', "Dickson's Farmstand Meats",
       'UVA Wine Bar & Restaurant', 'Serafina Fabulous Pizza',
       'Gaia Italian Cafe', 'Chola Eclectic Indian Cuisine',
       'Hot Kitchen', 'Junoon', 'Ravagh Persian Grill', 'Rohm Thai',
       'Dig Inn Seasonal Market', 'Olea', 'Cho Dang Gol',
       'El Parador Cafe', 'Socarrat Paella Bar',
       "Don's Bogam BBQ & Wine Bar", 'Alidoro', "Tony's Di Napoli",
       'Cipriani Le Specialita', 'Sushi Choshi', 'Kanoyama', 'V-Nam Cafe',
       'Zero Otto Nove', 'Dos Caminos Soho', 'Go! Go! Curry!',
       'La Follia', 'Izakaya Ten', '12 Chairs', 'Philippe Chow',
       'The MasalaWala', 'brgr', "Carmine's", 'Asuka Sushi', 'Aurora',
       "Sarabeth's", 'Crema Restaurante', "Big Daddy's",
       'Moonstruck on Second', 'Cafe de La Esquina', 'Olive Garden',
       '67 Burger', 'Tres Carnes', "Schnipper's Quality Kitchen",
       'Nha Trang One', 'Market Table', 'Galli Restaurant',
       'Hampton Chutney Co.', 'Byblos Restaurant',
       'Grand Sichuan International', 'Le Grainne Cafe', 'Il Bambino',
       'Kori Restaurant and Bar', 'DespaÌ±a', 'Lamarca Pasta',
       'Lucky Strike', "Paul & Jimmy's", 'Hunan Manor', "Coppola's East",
       'Emporio', 'Wa Jeal', 'Le Zie 2000 Trattoria', 'Rye House',
       "Hiroko's Place", 'Frank Restaurant', "Sarabeth's West",
       "'wichcraft"], dtype=object)

In [215]:
data['restaurant_name'].value_counts()

Shake Shack                  219
The Meatball Shop            132
Blue Ribbon Sushi            119
Blue Ribbon Fried Chicken     96
Parm                          68
                            ...
Sushi Choshi                   1
Dos Caminos Soho               1
La Follia                      1
Philippe Chow                  1
'wichcraft                     1
Name: restaurant_name, Length: 178, dtype: int64

In [216]:
data['cuisine_type'].value_counts()

American          584
Japanese          470
Italian           298
Chinese           215
Mexican            77
Indian             73
Middle Eastern     49
Mediterranean      46
Thai               19
French             18
Southern           17
Korean             13
Spanish            12
Vietnamese          7
Name: cuisine_type, dtype: int64

In [217]:
data['day_of_the_week'].value_counts()

Weekend    1351
Weekday     547
Name: day_of_the_week, dtype: int64

In [218]:
data_rating = data[data["rating"] != 'Not given']
converted_data_ratings = data_rating.rating.astype(int)
converted_data_ratings

2       5
3       3
4       4
5       3
7       3
       ..
1889    3
1890    5
1893    5
1894    5
1896    5
Name: rating, Length: 1162, dtype: int32

In [219]:
converted_data_ratings.describe()

count    1162.000000
mean        4.344234
std         0.741478
min         3.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000
Name: rating, dtype: float64

In [220]:
data_rating.drop("rating", axis = 1)

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,food_preparation_time,delivery_time
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,25,24
5,1477224,147468,Tamarind TriBeCa,Indian,25.22,Weekday,20,24
7,1477859,89574,Barbounia,Mediterranean,5.97,Weekday,33,30
...,...,...,...,...,...,...,...,...
1889,1478190,94152,RedFarm Broadway,Chinese,8.68,Weekday,33,30
1890,1477316,164776,TAO,Japanese,15.67,Weekend,20,22
1893,1476701,292602,Chipotle Mexican Grill $1.99 Delivery,Mexican,22.31,Weekend,31,17
1894,1477421,397537,The Smile,American,12.18,Weekend,31,19
1896,1477513,64151,Jack's Wife Freda,Mediterranean,12.18,Weekday,23,31

In [221]:
data_rating["rating"] = converted_data_ratings

C:\Users\lenovo\AppData\Local\Temp\ipykernel_20176\2707175453.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [222]:
data_rating

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24
5,1477224,147468,Tamarind TriBeCa,Indian,25.22,Weekday,3,20,24
7,1477859,89574,Barbounia,Mediterranean,5.97,Weekday,3,33,30
...,...,...,...,...,...,...,...,...,...
1889,1478190,94152,RedFarm Broadway,Chinese,8.68,Weekday,3,33,30
1890,1477316,164776,TAO,Japanese,15.67,Weekend,5,20,22
1893,1476701,292602,Chipotle Mexican Grill $1.99 Delivery,Mexican,22.31,Weekend,5,31,17
1894,1477421,397537,The Smile,American,12.18,Weekend,5,31,19
1896,1477513,64151,Jack's Wife Freda,Mediterranean,12.18,Weekday,5,23,31

In [223]:
avg_order_ratings = data_rating.groupby('restaurant_name')[['rating']].mean()
avg_order_ratings

                    rating
restaurant_name
'wichcraft        5.000000
12 Chairs         4.500000
5 Napkin Burger   4.000000
67 Burger         5.000000
Amma              4.500000
...                    ...
Zero Otto Nove    4.000000
brgr              3.000000
da Umberto        5.000000
ilili Restaurant  4.153846
indikitch         4.500000

[156 rows x 1 columns]

In [224]:
data_cuisine_type = data_rating.groupby(['cuisine_type', 'restaurant_name'])[['rating']].mean()
data_cuisine_type

                                           rating
cuisine_type restaurant_name
American     'wichcraft                  5.000000
             5 Napkin Burger             4.000000
             67 Burger                   5.000000
             Bareburger                  4.058824
             Big Daddy's                 5.000000
...                                           ...
Thai         Pongsri Thai                4.000000
             Song Thai Restaurant & Bar  5.000000
Vietnamese   Nha Trang One               3.000000
             V-Nam Cafe                  4.000000
             Xe May Sandwich Shop        5.000000

[157 rows x 1 columns]

In [225]:
unrated_order_data = data[data["rating"] == 'Not given']
unrated_order_data

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
6,1477894,157711,The Meatball Shop,Italian,6.07,Weekend,Not given,28,21
10,1477895,143926,Big Wong Restaurant _¤¾Ñ¼,Chinese,5.92,Weekday,Not given,34,28
14,1478198,62667,Lucky's Famous Burgers,American,12.13,Weekday,Not given,23,30
...,...,...,...,...,...,...,...,...,...
1887,1476873,237616,Shake Shack,American,5.82,Weekend,Not given,26,30
1891,1476981,138586,Shake Shack,American,5.82,Weekend,Not given,22,28
1892,1477473,97838,Han Dynasty,Chinese,29.15,Weekend,Not given,29,21
1895,1477819,35309,Blue Ribbon Sushi,Japanese,25.22,Weekday,Not given,31,24
1897,1478056,120353,Blue Ribbon Sushi,Japanese,19.45,Weekend,Not given,28,24

In [226]:
data.groupby('restaurant_name')['cost_of_the_order'].mean().sort_values(ascending = True)

restaurant_name
Hunan Manor                    5.720
Cipriani Le Specialita         5.920
Big Wong Restaurant _¤¾Ñ¼     5.920
Wa Jeal                        6.740
Market Table                   6.790
                               ...
Il Bambino                    29.250
Haru Gramercy Park            29.830
Bhatti Indian Grill           31.115
Emporio                       31.430
Kambi Ramen House             32.930
Name: cost_of_the_order, Length: 178, dtype: float64

In [227]:
data.groupby('restaurant_name')['food_preparation_time'].mean().sort_values(ascending = True)

restaurant_name
Haru Gramercy Park        20.0
67 Burger                 20.0
Frank Restaurant          20.0
DespaÌ±a                  20.5
Sarabeth's West           21.0
                          ...
Taro Sushi                35.0
Cipriani Le Specialita    35.0
Kambi Ramen House         35.0
Klong                     35.0
Sushi Choshi              35.0
Name: food_preparation_time, Length: 178, dtype: float64

In [228]:
data.groupby('restaurant_name')['delivery_time'].mean().sort_values(ascending = True)

restaurant_name
Gaia Italian Cafe     15.0
Paul & Jimmy's        15.0
The MasalaWala        15.0
Hibino                15.0
Coppola's East        16.0
                      ...
Haandi                30.5
Frank Restaurant      31.0
Taro Sushi            32.0
Haru Gramercy Park    32.0
Sarabeth's West       33.0
Name: delivery_time, Length: 178, dtype: float64

In [229]:
data.groupby('restaurant_name')['order_id'].count().sort_values(ascending = False)

restaurant_name
Shake Shack                  219
The Meatball Shop            132
Blue Ribbon Sushi            119
Blue Ribbon Fried Chicken     96
Parm                          68
                            ...
Klong                          1
Kambi Ramen House              1
Il Bambino                     1
Hunan Manor                    1
Lamarca Pasta                  1
Name: order_id, Length: 178, dtype: int64

In [230]:
data.customer_id.nunique()

1200

In [231]:
data_weekend = data[data.day_of_the_week == "Weekend"]
data_weekend

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
6,1477894,157711,The Meatball Shop,Italian,6.07,Weekend,Not given,28,21
11,1478437,221206,Empanada Mama (closed),Mexican,8.10,Weekend,5,23,22
...,...,...,...,...,...,...,...,...,...
1891,1476981,138586,Shake Shack,American,5.82,Weekend,Not given,22,28
1892,1477473,97838,Han Dynasty,Chinese,29.15,Weekend,Not given,29,21
1893,1476701,292602,Chipotle Mexican Grill $1.99 Delivery,Mexican,22.31,Weekend,5,31,17
1894,1477421,397537,The Smile,American,12.18,Weekend,5,31,19
1897,1478056,120353,Blue Ribbon Sushi,Japanese,19.45,Weekend,Not given,28,24

In [232]:
data_weekend.groupby('restaurant_name')['day_of_the_week'].count().sort_values()

restaurant_name
Market Table                       1
Hampton Chutney Co.                1
Tarallucci e Vino Restaurant       1
Sushi Choshi                       1
Chola Eclectic Indian Cuisine      1
                                ...
RedFarm Hudson                    44
Blue Ribbon Fried Chicken         74
Blue Ribbon Sushi                 85
The Meatball Shop                 95
Shake Shack                      145
Name: day_of_the_week, Length: 159, dtype: int64

In [233]:
data_weekday = data[data.day_of_the_week == "Weekday"]
data_weekday

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24
5,1477224,147468,Tamarind TriBeCa,Indian,25.22,Weekday,3,20,24
7,1477859,89574,Barbounia,Mediterranean,5.97,Weekday,3,33,30
8,1477174,121706,Anjappar Chettinad,Indian,16.44,Weekday,5,21,26
...,...,...,...,...,...,...,...,...,...
1878,1477194,62540,Blue Ribbon Sushi,Japanese,5.92,Weekday,Not given,27,31
1885,1477550,97324,Shake Shack,American,29.05,Weekday,4,27,29
1889,1478190,94152,RedFarm Broadway,Chinese,8.68,Weekday,3,33,30
1895,1477819,35309,Blue Ribbon Sushi,Japanese,25.22,Weekday,Not given,31,24
1896,1477513,64151,Jack's Wife Freda,Mediterranean,12.18,Weekday,5,23,31

In [234]:
data_weekday.groupby('restaurant_name')['day_of_the_week'].count().sort_values()

restaurant_name
'wichcraft                    1
Dig Inn Seasonal Market       1
Sushi Samba                   1
Sarabeth's West               1
Dos Caminos Soho              1
                             ..
Blue Ribbon Fried Chicken    22
Parm                         26
Blue Ribbon Sushi            34
The Meatball Shop            37
Shake Shack                  74
Name: day_of_the_week, Length: 121, dtype: int64